:root{
    --main-color: #eb5424;
    --text-color : #5f5f5f;
    --sec-color : #f8f8f8;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;}
nav{
    background-color: white;
    /* display: none !important; */
}
nav li a{
    font-size: 13px !important;
    transition: .3s;
    cursor: pointer;
}
nav li a.active,
nav li a:hover{
    color: var(--main-color) !important;
}
.landing{
    background-image: url('../imgs/home-bg.jpg');
    background-position: center;
    background-size: cover;
}
.landing .container{
    /* height: calc(100vh - 70px); */
    height: 100vh;
    color: var(--text-color);
}
.landing h2{
    font-size: 80px;
}
.landing h3{
    font-size: 40px;
    color: var(--main-color);
}
.landing p{
    max-width: 800px;
}
.main-btn{
    background-color: var(--main-color);
    transition: .3s;
}
.main-btn:hover{
    background-color: white;
    color: var(--main-color) !important;
}


.work svg{
    font-size: 40px;
    color: var(--text-color);
}
.work h2{
    font-size: 60px;
}
.work p{
    color: var(--text-color)
}
.work h4{
    color: var(--main-color);
}

.work .box{
    height: 500px;
}

.portfolio{
background-color: var(--sec-color);
}
.portfolio ul li{
    transition: .3s;
    cursor: pointer;
}
.portfolio ul li:hover,
.portfolio ul li.active{
    background-color: var(--main-color);
    color: white;
}
.skills p,.skills span{color: var(--text-color);}

.skills h2{
    font-size: 60px;
}
.skills p{
    font-size: 15px;
}
.skills .line{
    height: 2px;
}
.skills .line span{
background-color: var(--main-color);
width: 100%;
height: 3px;
display: block;
}
.info{
    background-image: url('../imgs/about-bg.jpg');
    background-position: center;
    background-size: cover;
}
.info h2.colord{
    color: var(--main-color);
}
.media .box{
    background-color: #3b5998;
    color: white;
    height: 200px;
    transition: .3s;
}
.media svg{
    font-size: 30px;
    background-color: white;
    color: var(--text-color);

}
.media  .row div:nth-child(2) .box{
    background-color: #55acee;
}
.media  .row div:nth-child(3) .box{
    background-color: #cc2127;
}
.media .box:hover{
    background-color: black !important;
}
.contact h1{
    font-size: 60px;
}
.contact input::placeholder{
    font-size: 14px;
}
.contact input{
    transition: .3s;
}
.contact input:not(input[type='submit']):hover{
    background-color: black;
    color: white;
}
.contact input:hover::placeholder{
    color: white;
}
.contact input.msg{
    height: 150px;
}
.contact input{
    border:  1px solid black;
}
.contact .row{
    max-width: 900px;
    
}
.contact input[type='submit']{
    width: 50%;
    
}